/* ================= Start Global Root ================= */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bruno+Ace+SC&family=Open+Sans:wght@400;700&family=Oswald:wght@700&family=Poppins:wght@200;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --padding: 50px;
  --main-transition: 0.3s;
  --primary-color: #5800ff;
  --success-color: #0a66c2;
  --main-color: #b9b9b9;
  --light-color: #ffffff;
  --dark-color: #000000;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  height: 100%;
  width: 10px;
}
::-webkit-scrollbar-track {
  width: 8px;
  background-color: var(--c-black);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #020202;
}
body {
  font-family: "Open Sans", sans-serif, "Poppins", "Oswald", "Bebas Neue",
    "Anton", "Bruno Ace SC", cursive;
  background-color: #f8f8f8;
  color: #020202;
}
body.active {
  background-color: #020202;
  color: #f8f8f8;
}
/* ================= End Global Root ================= */
/* Components*/
#desc {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
}
@media (max-width: 575px) {
  #desc {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  #desc {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #desc {
    font-size: 3rem;
  }
}
.btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--dark-color);
  border: var(--dark-color);
  color: var(--light-color);
  font-family: "Bruno Ace SC", cursive;
  transition: var(--main-transition);
}
.btn:hover {
  background-color: var(--primary-color);
}
/* Components*/
/* ===================== Start Toggle ===================== */
#toggle{
  position: relative;
  display: block;
  width: 60px;
  height: 32px;
  background-color: #222;
  border-radius: 20px;
  cursor: pointer;
  transition: var(--main-transition);
  box-shadow: inset 0 8px 60px rgba(0, 0, 0,0.1),
              inset 0 8px 8px rgba(0, 0, 0,0.1),
              inset 0 -4px 4px rgba(0, 0, 0,0.1);
}
#toggle.active{
  background-color: #fff;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0,0.1),
              inset 0 2px 8px rgba(0, 0, 0,0.1),
              inset 0 -4px 4px rgba(0, 0, 0,0.05);
}
#toggle .indicator{
  position: absolute;
  left: 3px;
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0,0.5),
              inset 0 4px 4px rgba(255, 255, 255,0.2),
              inset 0 -4px 4px rgba(255, 255, 255,0.2);
  transition: var(--main-transition);
}
#toggle.active .indicator{
  left: 24px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 20px rgba(0, 0, 0,0.1),
  inset 0 4px 4px rgba(255, 255, 255,1),
  inset 0 -4px 4px rgba(255, 255, 255,01);
}
@media(max-width: 767px) {
  #toggle.active .indicator {
    left: 22px;
  }
}
@media(max-width: 575px) {
  #toggle.active .indicator {
    left: 16px;
  }
}
/* ===================== End Toggle ===================== */
/* ===================== Start Title ===================== */
/* ===================== Start Header ===================== */
header {
  height: 50px;
  z-index: 100;
  top: 0;
  background-color: var(--dark-color);
  color: var(--light-color);
}
header .logo,
#menubar {
  font-family: "Bruno Ace SC", cursive;
}
.logo {
  pointer-events: painted;
}
@media (max-width: 992px) {
  header nav #menubar {
    cursor: pointer;
  }
  header nav .menu {
    display: none;
    background-color: #3f573f;
    /* width: 200px; */
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    font-size: 20px;
  }
  header nav .menu li a {
    background-color: purple;
    display: block;
    margin: 5px;
    /* width: fit-content; */
  }
  header nav .menu li a:hover {
    background-color: #020202;
  }
}
@media (max-width: 992px) {
  header nav:hover .menu-nav {
    /* display: block; */
    /* position: absolute; */
    /* top: 100%; */
    /* right: -60px; */
    /* right: 0; */
    /* background-color: var(--dark-color); */

    /* border-radius: 0 0 0 20px; */
    /* transition: 5s; */
  }
  header nav .menu {
    /* right: -100px; */
    /* right: 0; */
    /* right: -250px; */
    /* padding: 5px; */
    /* width: 200px; */
    /* height: 100vh; */
    /* transition: 5s; */
  }
  header nav .menu li {
    /* padding-top: 10px; */
    /* display: block; */
    /* width: fit-content; */
    /* transition: 5s; */
  }
  header nav .menu li:hover a {
    /* padding-left: 25px; */
  }
}
/* ===================== End Header ===================== */

/* ===================== Start Description ===================== */
.description {
  padding-top: var(--padding);
  height: 100vh;
}
@media (max-width: 767px) {
  .description .container :is(h1, p) {
    text-align: center;
  }
}
.description .container p {
  line-height: 1.8em;
  font-family: "Poppins", sans-serif;
}
.description .container button {
  /* color: var(--light-color); */
}
.description .container button i {
  margin-right: 5px;
  transition: var(--main-transition);
}
.description .container button:hover i {
  scale: 1.3;
  rotate: 10deg;
}
/* ===================== Start About ===================== */
.about {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.about p {
  line-height: 1.8em;
  font-family: "Poppins", sans-serif;
}
/* ===================== Start Services ===================== */
.services {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.services .container {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.services .container .serv-box {
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  scale: 0.9;
  background-color: var(--light-color);
  color: var(--dark-color);
  box-shadow: inset 0 0 10px #ddd;
  transition: var(--main-transition);
  min-height: 200px;
}
.services .container .serv-box:hover {
  box-shadow: 0 0 10px #ddd;
  scale: 1;
}
.services .container .serv-box i {
  font-size: 30px;
}
.services .container .serv-box h4 {
  margin: 20px 0;
  font-family: "Bruno Ace SC";
}
.services .container .serv-box p {
  line-height: 2;
  font-size: 1.1em;
}
/* ===================== Start Skills ===================== */
.skills {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.skills .container {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.skills .container .skill {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--light-color);
  color: var(--dark-color);
  text-align: center;
  scale: 0.9;
  box-shadow: inset 0 0 10px #ddd;
  transition: var(--main-transition);
}
.skills .container .skill:hover {
  /* box-shadow: 0 0 10px var(--light-color); */
  scale: 1;
}
.skills .container .skill img {
  max-width: 100px;
  max-height: 100px;
}
.skills .container .skill h6 {
  margin: 20px 0;
  font-weight: bold;
  font-size: 20px;
  font-family: "Bruno Ace SC", cursive;
}
.skill .progress span {
  background-color: var(--primary-color);
  transition: width 3s linear;
}
/* ===================== Start Work ===================== */
.work {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  font-family: "Bruno Ace SC", cursive;
}
.work .container {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.work .container .box-work {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  counter-increment: my-counter;
  box-shadow: 0 0 10px #ccc;
}
.work .container .box-work h4::after {
  content: " 0" counter(my-counter);
}
.work .container .box-work a img {
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  min-height: 200px;
  max-height: 200px;
}
.work .container .box-work .info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid var(--dark-color);
}
.work .container .box-work .info a,
.work .container .box-work .info a i {
  font-size: 20px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
  border-radius: 50%;
  transition: var(--main-transition);
}
.work .container .box-work .info a:hover,
.work .container .box-work .info a:focus {
  background-color: #ddd;
}
.work .container .box-work span {
  pointer-events: none;
}
.work .container .box-work span h6 {
  position: relative;
  margin-top: 10px;
  pointer-events: visible;
  width: fit-content;
  transition: var(--main-transition);
  font-weight: bold;
}
.work .container .box-work span h6:hover {
  padding-bottom: 30px;
}
.work .container .box-work span p {
  position: absolute;
  bottom: -100px;
  white-space: nowrap;
  transition: var(--main-transition);
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.work .container .box-work span:hover p {
  bottom: -10px;
}
/* ===================== Start Contact ===================== */
.contact {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.contact .container {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
@media (max-width: 767px) {
  .contact .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.contact .container .box-contact input,
textarea {
  border: 2px solid var(--dark-color);
  outline: none;
  padding: 15px;
  border-radius: 10px;
}
.contact .container .box-contact textarea {
  min-height: 200px;
  resize: none;
}
.contact .container .box-contact button {
  margin-right: auto;
}
.contact .container .box-contact img {
  max-width: 100%;
}
/* ===================== Start Page ===================== */

header {
  /* background-color: var(--dark-color); */
  /* font-family: "Bruno Ace SC", cursive; */
  box-shadow: 0 0 10px #ddd;
}
header nav a {
  transition: var(--main-transition);
}
header nav a:hover,
header nav a.active {
  /* color: var(--light-color); */
}
/* ===================== Start Footer ===================== */
footer {
  padding: 70px 0 0;
  font-family: "Bruno Ace SC", cursive;
  box-shadow: 0 0 10px;
}
footer .container-fluid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
footer .foot-box h3 {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
footer .foot-box .social li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background-color: #313131;
  color: var(--main-color);
  transition: var(--main-transition);
}
footer .social .facebook:hover {
  background-color: #1877f2;
}
footer .social .twitter:hover {
  background-color: #1da1f2;
}
footer .social .youtube:hover {
  background-color: #ff0000;
}
footer .social .linkedin:hover {
  background-color: #0a66c2;
}
footer .social .behance:hover {
  background-color: #1769ff;
}
footer .social .github:hover {
  background-color: #111;
}
footer .social .instagram:hover {
  background: linear-gradient(45deg, #5851db, #fd1d1d);
}
footer .foot-box .txt {
  line-height: 1.8em;
}
footer .foot-box .link li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .foot-box .link li a {
  display: block;
  padding: 15px 0;
  transition: var(--main-transition);
}
footer .foot-box .link li a:hover {
  padding-left: 10px;
}
footer .foot-box .link li a::before {
  font-family: var(--fa-style-family-classic);
  content: "\f101";
  font-weight: bold;
  margin-right: 5px;
  color: var(--success-color);
}
footer .foot-box .line {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
footer .foot-box .line i {
  font-size: 25px;
  color: var(--success-color);
  margin-right: 10px;
}
footer .foot-box .line .info {
  line-height: 1.8;
  flex: 1;
}
footer .foot-box .line .info span {
  display: block;
}
footer .foot-gallery {
  padding: 15px 0;
}
footer .foot-gallery img {
  border: 3px solid;
  width: 78px;
  height: 78px;
  margin: 2px;
}
footer .copyright {
  padding: 20px 0;
  text-align: center;
  margin: 50px 0 0;
  border-top: 1px solid #444;
  font-family: "Anton", sans-serif;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
@media (max-width: 767px) {
  footer .social {
    justify-content: center;
  }
  footer .line {
    flex-direction: column;
  }
  footer .foot-box .line i {
    margin-bottom: 10px;
  }
}
/* ===================== Start ScrollToTop ===================== */
.up {
  position: fixed;
  bottom: 10px;
  right: -30px;
  background-color: var(--primary-color);
  font-weight: bold;
  font-size: 15px;
  padding: 2px 5px;
  border-radius: 4px;
  font-family: "Anton", sans-serif;
  cursor: pointer;
  transition: var(--main-transition);
}
.up.show {
  right: 10px;
}
/* ===================== End Page ===================== */
